.all_lists{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.list_container{
    width: 700px;
    height: 300px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
    
}

.rest_name{
    display: flex;
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    padding: 10px;
    margin-bottom: 10px;
}

.rest_thumb{
    display: flex;
    width: 400px;
    height: 200px;
    box-shadow:
  0.8px 1.9px 10.5px rgba(0, 0, 0, 0.024),
  1.9px 4.5px 17.2px rgba(0, 0, 0, 0.042),
  3.5px 8.3px 22px rgba(0, 0, 0, 0.053),
  6.2px 14.8px 29.2px rgba(0, 0, 0, 0.061),
  11.7px 27.8px 43.9px rgba(0, 0, 0, 0.079),
  29px 69px 68px rgba(0, 0, 0, 0.13)
;
    border-radius: 20px;

}

.rest_thumb > img{
   width: 100%;
   float: left;
   border-radius: 20px;
}

.list_details{
    display: flex;
    flex-wrap: nowrap;
}

.list_details_text{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 5px;
    box-shadow:
  1.8px 2.1px 9.3px -10px rgba(0, 0, 0, 0.037),
  4.2px 5.1px 16.5px -10px rgba(0, 0, 0, 0.055),
  7.7px 9.4px 22.2px -10px rgba(0, 0, 0, 0.067),
  13.7px 16.7px 27.2px -10px rgba(0, 0, 0, 0.078),
  25.8px 31.4px 34.5px -10px rgba(0, 0, 0, 0.095),
  64px 78px 68px -10px rgba(0, 0, 0, 0.13)
;
    border-radius: 20px;
}

.cusines{
    display: flex;
    font-size: 20px ;
    font-weight: 600;
    width: 100%;
    justify-content: center;
}

.rest_address{
    display: flex;
    width: 100%;
    justify-content: center;
}

.rating{
    display: flex;
    width: 100%;
    justify-content: center;
}

.rating_num{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 119, 119);
    color: black;
    margin: 5px;
}

.rate_text{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.cost{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact{
    display: flex;
    width: 100%;
    justify-content: center;
}

.loading_container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loading_container > img{
    width: 300px;
    height: 300px;
}

#filter{
	display: flex;
	width: 80%;
    border-radius: 20px;
    box-shadow:
  2.3px 1.8px 2.2px rgba(0, 0, 0, 0.016),
  5.5px 4.3px 5.3px rgba(0, 0, 0, 0.024),
  10.3px 8px 10px rgba(0, 0, 0, 0.03),
  18.3px 14.3px 17.9px rgba(0, 0, 0, 0.036),
  34.3px 26.7px 33.4px rgba(0, 0, 0, 0.047),
  82px 64px 80px rgba(0, 0, 0, 0.07)
;
    background-color: bisque;
    margin : 20px !important;
    padding : 5px !important;
    flex-wrap: wrap;
    height: 200px !important;
}

CusineFilter{
    display: flex;
    width: 100%;
}

CostFilter{
    display: flex;
    width: 100%;
}